/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.footer-area {
    background: #14ADF3;
    padding: 80px 0px;
}

.footer-area, .footer-area a {
    color: #fff;
}

.footer-wid h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.social-links a {
    font-size: 20px;
    padding-right: 20px;
    display: inline-block;
    margin-top: 15px;
}

.footer-wid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info {
    position: relative;
    padding-left: 30px;
}

.contact-info i.fa {
    position: absolute;
    left: 0px;
    top: 5px;
}

.footer-subscribtion-form h4 {
    text-transform: uppercase;
}

.footer-subscribtion-form {
    margin-top: 30px;
}

.footer-subscribtion-form input[type="email"] {
    border: none;
    color: #000;
    padding: 10px;
    width: 73%;
}

.footer-subscribtion-form input[type=submit] {
    color: #14adf3;
    text-transform: uppercase;
    border: none;
    background: #fff;
    padding: 10px;
    width: 25%;
    border-radius: 3px;
}

.footer-subscribtion-form form {
    margin-bottom: 10px;
}

.footer-subscribtion-form p {
    font-size: 90%;
}

.copyright-area, .copyright-area a {
    color: #b5b5b5;
}

.copyright-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright-area li {
    display: inline-block;
}

.copyright-area li:after {
    content: "|";
    padding-left: 10px;
    padding-right: 5px;
}

.copyright-area li:last-child:after {
    display: none;
}

.copyright-area {
    padding: 20px 0;
}