/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.boxed-btn, input[type=submit], button[type=submit] {
	    font-size: 13px;
	    padding: 13px 12px;
	}  
	.single-service-box {
	    padding: 15px;
	}
	.hero-area h1 {
	    font-size: 40px;
	}
	.single-service-box-2 {
	    height: 220px;
	}
	.single-case-study {
	    height: 280px;
	}
	.blog-thumb-wrapper1 {
	    height: 200px;
	}
	.slide-item-wrapper h2 {
	    font-size: 58px;
	    line-height: 60px;
	}
	.pd-50 {
	    padding-top: 30px;
	}
	.single-blog-box {
	    padding: 20px;
	}


    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.slide-item-wrapper h2 {
	    font-size: 35px;
	    line-height: 35px;
	}
	

 
    
}
/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
	.logo {
	    text-align: center;
	    margin-bottom: 20px;
	}
	.mainmenu {
	    display: none;
	}
	.hero-area .text-right {
	    text-align: left;
	}
	.header-area .text-right, .cta-area .text-right, .cta-area  {
	    text-align: center;
	}
	.hero-area {
	    padding: 50px 0;
	}
	.website-checker-form {
	    margin-bottom: 30px;
	}
	.mobile-padding-fix {
	    padding-top: 0;
	    padding-bottom: 50px;
	}
	.mobile-text-left {
		text-align: left;
	}
	.section-padding {
	    padding: 75px 0px;
	}
	.cta-area .boxed-btn {
	    margin-top: 20px;
	}
	.mobile-only-margin {
		height: 50px;
	}
	.breadcroumb-area {
	    padding: 80px 0;
	    font-size: 18px;
	}
	.breadcroumb-area h2 {
	    margin-bottom: 10px;
	}
	.single-blog-box {
		min-height: 510px;
	}
	.sectino-padding {
	    padding: 65px 0;
	}
	.hero-area h1 {
	    font-size: 40px;
	    margin-top: 0;
	    max-width: inherit;
	}
	.hero-form {
	    margin-top: 50px;
	}
	
	.footer-area-2, .footer-area-2 .social-links {
	    text-align: center;
	}
	.copyright-area-2, .copyright-area-2 .text-right {
	    text-align: center;
	}
	.absoulat-gallery-img-1 {
	    position: relative;
	    top: auto;
	}
	.text-right {
	    text-align: left;
	}
	.service-box-2 {
	    min-height: inherit;
	}
	.serivce-section::after{
		width: 100%;
	}
	
	.slicknav_menu {
		display: block;
	}

 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.footer-area ul, .case-study-box-style2, .single-pricing-box, .single-blog-box {
	    margin-bottom: 50px;
	}
	.website-check-from input {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 10px;
	}
	.website-check-from input[type=submit] {
	    width: auto;
	}
	.slide-item-wrapper h2 {
	    font-size: 20px;
	    line-height: 32px;
	    margin-top: 90px;
	}
	.serivce-section {
	    margin-top: 0;
	    margin-bottom: 0;
	}
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}