/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
	color: #373737;
}
body {
	font-family: 'Khula', sans-serif;font-size: 15px;color: #999;

}
a:hover { text-decoration: none }
.header-area {
	padding: 20px 0;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
	position: relative;
	display: inline-block;
}
.mainmenu li a {
	display: block;
	color: #888;
	padding: 12px 15px;
}
.mainmenu ul li a:hover {
	text-decoration: none;
	color: #EF476F;	
}
.boxed-btn, input[type=submit], button[type=submit] {
	display: inline-block;
	background: #ec4a71;
	color: #fff;
	font-size: 14px;
	padding: 13px 25px;
	border-radius: 2px;
	border:none;
}
.hero-area {
	font-weight: 300;
	padding: 150px 0;
	border-bottom: 1px solid #f7f7f7;
}
.hero-area h1 {
	font-size: 40px;
	max-width: 450px;
	margin-bottom: 20px;
	padding-top: 25px;
}
input[type=text], input[type=email], input[type=tel], input[type=password], input[type=url], textarea {
	border: 1px solid #fofofo;
	padding: 10px 15px;
}
input[type="submit"], button[type="submit"] {
	padding: 11px 25px;
	font-weight: 400;
}
.website-checker-form {
	margin-top: 30px;
}
.section-padding {
	padding: 115px 0px;
}
.section-title {
	margin-bottom: 90px;
}

.single-service-box {
	border: 1px solid #FAFAFA;
	padding: 25px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom:50px;
}
.single-service-box:hover {
	border-color: #ef476f;
}
.service-icon {
	font-size: 30px;
	color: #5d5a5b;
}
.single-service-box h3 {
	font-size: 20px;
	margin: 15px 0;
}
.service-readmore-btn {
	color: #373737;
	font-weight: 400;
	display:inline-block;
	margin-top:10px;
}
.service-readmore-btn i.zmdi {
	padding-left: 5px;
}
.single-service-box:hover a.service-readmore-btn, .single-service-box :hover h3 , .single-service-box:hover .service-icon {
	color:#ef476f;
}
.pdt-50 {
	padding-top: 50px;
}
h2 {
	font-size: 20px;
	line-height: 37px;
}
.pdt-50 .boxed-btn {
	margin-top: 15px;
}
.section-padding-gray-bg {
	background-color: #fbfbfb;
}
.single-case-study {
	display: table;
	width: 100%;
	height: 320px;
	background: #ddd;
	position: relative;
}
.cse-study-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 30px;
	text-align: center;
	background: #EC4A71 none repeat scroll 0% 0%;
	color: #FFF;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.cse-study-wrapper h3, .cse-study-wrapper h4 {
	color: #fff;
}
.case-study-more {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #fff;
	color: #333;
	line-height: 44px;
	border-radius: 50%;
	margin-top: 10px;
	
}
.single-case-study:hover .cse-study-wrapper {
	opacity: 1;
	visibility: visible;
}
.case-studies-carousel.owl-carousel .owl-stage-outer {
	overflow: inherit;
}
.section-padding.overflow-x-hidden {
	overflow: hidden;
}
.owl-dots div {
	height: 3px;
	width: 20px;
	background: #e2e2e2;
	display: inline-block;
	margin: 2px;
}
.owl-dots div.active {
	background-color: #ec4a71;
}
.owl-dots {
	text-align: center;
	margin-top: 20px;
}
.single-tesimonial-item {
	text-align: center;
}
.testimonial-content {
	font-size: 24px;
	color: #373737;
}
.testimonial-meta img, .owl-carousel .owl-item .testimonial-meta img {
	width: 65px;
	display: inline-block;
	border-radius: 50%;
}
.testimonial-meta {
	color: #999;
	font-weight: 300;
	font-size: 14px;
	margin-top: 40px;
}
.testimonial-meta h4 {
	color: #373737;
	margin: 27px 0 10px;
}
.testimonial-carousel .owl-dots {
	margin-top: 30px;
}
.cta-area {
	background: #F8F8F8;
	padding: 60px 0;
}
.cta-area h2 {
	padding-top: 0px 0;
	margin: 22px 0px;
}
.single-pricing-box {
	border: 1px solid #F3F3F3;
	padding: 30px;
	text-align: center;
	margin-bottom: 75px;
	transition: .2s;
}
.pricing-heading {
	border-bottom: 1px solid #F8F8F8;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 30px;
	padding-bottom: 15px;
	transition: .2s;
}
.pricing-count {
	font-size: 17px;
	line-height: 2.3;
	color: #EF476F;
	font-size: 50px;
	font-weight: 300;
	line-height: 59px;
	margin: 0;
}
.pricing-heading h4 {
	color: #373737;
	font-size: 20px;
	margin-bottom: 30px;
}
.pricing-content ul {
	margin: 0 0 30px;
	padding: 0;
	list-style: none;
}
.pricing-content .boxed-btn {
	line-height: 1.4;
}
.single-pricing-box:hover {
	border-color: #cc4a71;
}
.single-pricing-box:hover .pricing-heading {
	border-color: #ec4a71;
}
.single-logo-item {
	display: table;
	width: 100%;
	height: 100px;
	opacity: .7;
	transition: .2s;
}
.single-logo-item:hover {
	opacity: 1;
}
.logo-item-inner {
	display: table-cell;
	vertical-align: middle;
}
.footer-area {
	background: #fdfdfd;
	padding: 70px 0;
}
.footer-area h4 {
	font-size: 20px;
}
.footer-area, .footer-area a {
	color: #999999;
}
.footer-area ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2;
}
.email-subscribe-form {
	margin-bottom: 35px;
}
.email-subscribe-form input[type="email"] {
  background-color: #f6f6f6;
  border: medium none;
  margin-right: -4px;
  width: 67%;
}
.email-subscribe-form input[type="submit"] {
	width: 30%;
	padding: 11px;
	border-radius: 2px;
}
.footer-area ul {
  line-height: 2;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer-area ul.social-links li {
  display: inline-block;
  margin: 3px 0;
  width: 32%;
}
.footer-area ul.social-links li a:hover {
	color:#EF476F;	
}
.copyright-area {
	background: #F7F7F7;
	padding: 15px 0;
}