/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding {
    padding: 80px 0;
}

.section-padding {
    padding: 80px 0;
}

body {
    color: #878787;
}

h1 {
    color: #313131;
}

.bigger-text {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    padding: 0 70px;
}

.bigger-text h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 50px;
}

.boxed-btn {
    background: #4752e9;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.bigger-text .boxed-btn {
    margin-top: 30px;
}

.shadow-gallery img:nth-child(2), .shadow-gallery img:nth-child(3) {
    position: absolute;
    right: 0;
}

.shadow-gallery {
    position: relative;
    padding-top: 30px;
}

.shadow-gallery img:nth-child(3) {
    z-index: 3;
    width: 70%;
    right: auto;
    left: -50px;
    bottom: -80px;
}

.shadow-gallery img {
    position: relative;
    z-index: 1;
    width: 50%;
    box-shadow: 0 0 50px #BEBEC0;
}

.shadow-gallery img:nth-child(2) {
    z-index: 2;
    bottom: -51px;
    right: 21px;
}

.shadow-gallery img:nth-child(1) {
    top: -54px;
}