/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.section-padding {
    padding: 80px 0;
}

.white-box {
    box-shadow: 0 0 10px #F5F5F5;
    padding: 30px;
}

input[type=text], input[type=email], input[type=tel], input[type=password], input[type=url], textarea {
    background: #F9F9F9;
    border: none;
    padding: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
}

.contact-form input[type=submit] {
    width: auto;
    padding: 15px 30px;
    margin: 0;
}

.contact-form textarea {
    height: 140px;
    resize: none;
}

input[type=submit], button[type=submit] {
    background: #4DAEFE;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 3px;
}

.colored-box {
    background: #4DAEFE;
    padding: 30px;
    color: #fff;
    min-height: 458px;
}

.colored-box a {
    color: #fff;
}

.contact-info {
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
}

.contact-info i.fa {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
}

.white-box h4, .colored-box h4 {
    margin-bottom: 40px;
    font-weight: 400;
}

.social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #333;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 10px;
    box-shadow: 0 0 3px #999;
    transition: .3s;
}

.social-icons a:hover {
    color: #4DAEFE;
    box-shadow: 0 0 0;
}