body {
	font-weight: 300;
	line-height: 1.6;
}

.homepage-hero-area-4 {background-image: url(../img/hero-area-4.jpg)}

.boxed-btn, input[type="submit"], button[type="submit"] {
	background-color: #24d5a1;
}
body, html, .homepage-hero-area-4, .single-slide-item {
	height: 100%;
}
.single-slide-item {
	display: table;
	width: 100%;
	height: 100%;
}
.slide-item-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	color: #fff;
	font-weight: 300;
}
.slide-item-wrapper h2 {
	font-weight: 700;
	font-size: 43px;
	color: #fff;
	line-height: 55px;
}
.website-check-from {
	margin-top: 30px;
}
.website-check-from input {
background-color: #0b3b4b;
border-color: #0b3b4b;
border-style: solid;
border-width: 2px;
}
.website-check-from input[type=submit], .website-check-from button[type=submit] {
	background-color: #06d6a0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
.padding-top-80 {
	padding-top: 80px;
}
.inline-btn {
	color: #24d5a1;
	display: inline-block;
	padding-top: 15px;
}
.single-service-box:hover {
    border-color: #06d6a0;
}

.single-service-box:hover a.service-readmore-btn, .single-service-box :hover h3, .single-service-box:hover .service-icon {
    color: #24d5a1;
}
.single-pricing-box:hover {
	border-color: #24d5a1;
}
.pricing-count {
	color: #24d5a1;
}
.footer-area ul.social-links li a:hover {
    color: #3BDEB4;
}
.social-links {
    text-align: left;
}
.mainmenu ul li a:hover {
	text-decoration: none;
	color: #8BECD3;	
}
.sectino-padding {
	padding: 80px;
}
.single-blog-box {
    display: block;
    margin: 15px 0;
    color: #333;
}



.traffic-faq .panel-default>.panel-heading {
    background-color: transparent;
}

.panel-body {}

.traffic-faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-width: 0px;
}

.traffic-faq.panel-group.panel+.panel {
    margin-top: -.6px;
    box-shadow: 0 0 0;
}

.traffic-faq .panel-heading a {
    color: #333;
    font-weight: 400;
    font-size: 15px;
    display: block;
    padding: 15px;
    position: relative;
}

.traffic-faq .panel-heading {
    padding: 0;
}

.traffic-faq .panel-heading a:after {
    content: "+";
    float: right;
    font-size: 25px;
    margin-top: -5px;
}

.traffic-faq .panel-heading a[aria-expanded="true"]:after {
    content: "-";
    font-size: 30px;
    margin-top: -10px;

}
.traffic-faq a:focus{
    text-decoration:none;
    
}





.breadcroumb-bg-1 {
    background-image: url(../img/about-breadcroumb-bg-1.jpg);
}
.single-team-box {
    margin-bottom: 25px;
}
.single-team-box img {
    box-shadow: 0 0 5px 3px #f1f1f1;
    transition: .3s;
}
.single-team-box h4 {
    font-size: 18px;
    color: #373737;
    font-weight: 700;
    padding-top: 20px;
}
.single-team-box h4 span {
    padding-top: 10px;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    display: block;
}






.team-breadcroumb-bg-1 {
    background-image: url(../img/team-breadcroumb-bg-1.jpg);
}




.pricing-breadcroumb-bg-1 {
    background-image: url(../img/pricing-breadcroumb-bg-1.jpg);
}


.cta-area.theme-5 {
    background-image: url(../img/pricing-bg-2.jpg);
}
