@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

.space-90 {height: 90px}
.space-80 {height: 80px}

body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
    color: 333333;
    line-height: 1.8;
}

a:hover {
	text-decoration: none;
}
.header-top {
    background-color: #0b0b0b;
    padding: 13px 0;
}

.header-top, .header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #FC721E;
    padding-right: 10px;
}

.social-links a {
    height: 33px;
    width: 33px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
}

.social-links i.fa {
    padding-right: 0;
    color: #fff;
}

.social-links {
    display: inline-block;
    padding-left: 25px;
}

.social-links a:hover {
    background-color: #FC721E;
    border-color: #FC721E;
}

.header-top i.fa.fa-phone {
    padding-left: 25px;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.mainmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu li a {
    display: block;
    color: #333;
    padding: 16px 14px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.mainmenu li:hover > a {
	border: 1px solid #FC721E;
}

.header-area {
    padding: 18px 0;
}

.slide-bg-1 {background-image: url(../img/slide-bg-1.jpg);}
.slide-bg-2 {background-image: url(../img/slide-bg-2.jpg);}

.single-slide-item {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    line-height: 2;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: #050505;
    opacity: .8;
}

.single-slide-item .d-table-cell {
    vertical-align: middle;
}

.single-slide-item h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

.boxed-btn {
    display: inline-block;
    background: #FC721E;
    border: 1px solid #FC721E;
    color: #fff;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}

.boxed-btn.bordered-btn {
    background-color: transparent;
    border-color: #fff;
}

.slide-buttons {
    margin-top: 30px;
}

.slide-buttons a {
    margin-right: 15px;
}




.slider-area .owl-dots button {
    height: 25px;
    width: 2px;
    background-color: #fff;
    display: inline-block;
    margin-right: 8px;
}

.slider-area .owl-dots {
    position: relative;
    left: 0;
    bottom: 40px;
    width: 1110px;
    margin: 0 auto;
    top: -80px;
}

.slider-area .owl-dots button.active {
    height: 30px;
    background-color: #fc721e;
}


.slider-area {
    margin-bottom: -2px;
}

.service-box-bg-1 {background-image: url(../img/service-bg1.jpg);}
.service-box-bg-2 {background-image: url(../img/service-bg2.jpg);}
.service-box-bg-3 {background-image: url(../img/service-bg3.jpg);}

.service-box-bg {
    background-color: #ddd;
    height: 205px;
    background-size: cover;
    background-position: center;
}

.single-service-box {
    position: relative;
    text-align: center;
    transition: .3s;
}

.service-box-content {
    border: 1px solid #d1cfcf;
    padding: 15px;
    padding-top: 50px;
}

.service-box-title {
    position: absolute;
    top: 180px;
    width: 100%;
}

.service-box-title h2 {
    width: 80%;
    color: #fff;
    background: #FC721E;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
}

.service-btn {
    color: #333;
}

.service-btn i.fa {
    padding-left: 5px;
}

.single-service-box:hover {
    box-shadow: 0 0 10px #ccc;
}
.section-padding {padding: 90px 0;}
.section-padding.padding-bottom-0 {
    padding-bottom: 0;
}