
.boxed-btn, input[type=submit], button[type=submit], .video-play-btn, .mainmenu li:hover li:hover > a, .slicknav_btn, .slicknav_nav .slicknav_row:hover,.slicknav_nav a:hover, .cse-study-wrapper, .theme-2 .cse-study-wrapper:after, .owl-dots div, .active, .testimonial-text:after, .active .testimonial-text {
	background-color: #9b59b6;
}
.mainmenu li:hover > a, .menu-cta h4 span, .section-icon, .single-service-box:hover a.service-readmore-btn, .single-service-box: hover h3, .single-service-box:hover .service-icon, .feature-icon, .pricing-count, .copyright-area-2 a:hover, .mainmenu ul li a:hover, .footer-area-2 a:hover, .mainmenu li:hover > a {
    color: #9b59b6;
}

.single-service-box:hover, .single-pricing-box:hover, .single-pricing-box:hover .pricing-heading {
	border-color: #9b59b6;
}
